apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: demo-api
  name: demo-api
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-api
  template:
    metadata:
      labels:
        app: demo-api
    spec:
      containers:
      - image: nginx:alpine
        name: demo-api
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: 24m
            memory: 192Mi
          requests:
            cpu: 12m
            memory: 128Mi
